.cell {
    -fx-min-width: 12px;
    -fx-min-height: 12px;
    -fx-max-width: 12px;
    -fx-max-height: 12px;
}

.alive {
    -fx-background-color: #30cc74;
}

.survived {
    -fx-background-color: #FCDC26;
}

.static {
    -fx-background-color: #FC5426;
}
